In [ ]:
from pyspark.sql import functions as func
from pyspark.sql import Window
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Apache Spark Test - REACT - Module 2 - Data Engineering

In [ ]:
file_type = 'csv'
first_row_is_header = True
file_location = 's3://codeop-react/ds/datasets/exam/202208/bank.csv'

df_noschema = spark.read.format(file_type) \
  .option("header", first_row_is_header) \
  .load(file_location)

display(df_noschema)

1 - Print the schema of the dataframe (0.25p)

2 - Count the total numbers of rows of the dataset (0.25p)

result: 11162

3 - Read the csv again but this time define a schema, apply it and print the schema again (0.5p)

In [ ]:
schema =

4 - Count the number of differents types of jobs (0.5p)

result: 12

5 - Show the total number of people by type of job in descending order (0.5p)

result:

|          job|count|
|-------------|-----|
|   management| 2566|
|  blue-collar| 1944|
|   technician| 1823|
|       admin.| 1334|
|     services|  923|
|      retired|  778|
|self-employed|  405|
|      student|  360|
|   unemployed|  357|
| entrepreneur|  328|
|    housemaid|  274|
|      unknown|   70|

6 - Show the different types of marital status (0.5p)

result:

| marital|
|--------|
|divorced|
| married|
|  single|

7 - Which is the job type that presents the highest number of married people? (1p)

result:

|       job|count|
|----------|-----|
|management| 1428|

8 - Which is the job type that presents the smallest single marital status number of people? (0.5p)

|    job|count|
|-------|-----|
|unknown|   19|

9 - How many married students are in the dataset? (0.5p)

result: 15

10 - Create a dataframe where we can see a matrix between marital status and jop type. Ordered by marital status descending (1p)

result:

|          job|divorced|married|single|
|-------------|--------|-------|------|
|   management|     288|   1428|   850|
|   technician|     204|    930|   689|
|       admin.|     182|    677|   475|
|      retired|     171|    581|    26|
|  blue-collar|     149|   1335|   460|
|     services|     121|    504|   298|
|   unemployed|      47|    186|   124|
|    housemaid|      46|    190|    38|
| entrepreneur|      42|    234|    52|
|self-employed|      39|    222|   144|
|      unknown|       2|     49|    19|
|      student|       2|     15|   343|

11 - Show the total balance per type of job in ascending order. Rename the column as shown in the result (0.5p)

result:

|          job|total_balance|
|-------------|-------------|
|      unknown|       136182|
|    housemaid|       374328|
|   unemployed|       469355|
| entrepreneur|       531997|
|      student|       540282|
|self-employed|       755476|
|     services|       997921|
|       admin.|      1595286|
|      retired|      1880621|
|  blue-collar|      2340433|
|   technician|      2837125|
|   management|      4602541|

12 - Calculate the divorce rate by job type and order the results descending (hint: you will need to create a dicotomical numerical column then use the mean function) (1.5p)

result:

|          job|divorced_rate|
|-------------|-------------|
|      retired|         0.22|
|    housemaid|         0.17|
|       admin.|         0.14|
| entrepreneur|         0.13|
|   unemployed|         0.13|
|     services|         0.13|
|   technician|         0.11|
|   management|         0.11|
|self-employed|          0.1|
|  blue-collar|         0.08|
|      unknown|         0.03|
|      student|         0.01|

13 - Create a df with the average age by job type. Ordered descending by average age (0.5p)

|          job|age_avg|
|-------------|-------|
|      retired|  65.42|
|    housemaid|  47.45|
|      unknown|  46.86|
| entrepreneur|  42.89|
|   unemployed|   41.0|
|   management|  40.22|
|self-employed|  39.81|
|  blue-collar|  39.51|
|       admin.|  39.37|
|   technician|   39.0|
|     services|  38.14|
|      student|   26.1|

14 - Merge the last two dataframes and show it as shown in the result section (descending divrorced rate order) (0.5p)

result:

|          job|divorced_rate|age_avg|
|-------------|-------------|-------|
|      retired|         0.22|  65.42|
|    housemaid|         0.17|  47.45|
|       admin.|         0.14|  39.37|
| entrepreneur|         0.13|  42.89|
|   unemployed|         0.13|   41.0|
|     services|         0.13|  38.14|
|   technician|         0.11|   39.0|
|   management|         0.11|  40.22|
|self-employed|          0.1|  39.81|
|  blue-collar|         0.08|  39.51|
|      unknown|         0.03|  46.86|
|      student|         0.01|   26.1|

15 - Calculate the mean and the standard deviation over the age. (0.25p)

result:

|  stddev_samp(age)|          avg(age)|
|------------------|------------------|
|11.913369192215518|41.231947679627304|

16 - Create a dense rank partitioned by job to know the ranking over balance (1p)

result:

|age| marital|balance|   job|dense_rank|
|---|--------|-------|------|----------|
| 50| married|  -1415|admin.|         1|
| 42| married|  -1386|admin.|         2|
| 51| married|  -1137|admin.|         3|
| 26|  single|   -930|admin.|         4|
| 36|divorced|   -811|admin.|         5|
| 40| married|   -666|admin.|         6|
| 46|divorced|   -637|admin.|         7|
| 30|  single|   -548|admin.|         8|
| 52|  single|   -528|admin.|         9|
| 46| married|   -522|admin.|        10|
| 28|divorced|   -504|admin.|        11|
| 29|  single|   -498|admin.|        12|
| 35| married|   -488|admin.|        13|
| 42| married|   -466|admin.|        14|
| 52| married|   -462|admin.|        15|
| 57|divorced|   -461|admin.|        16|
| 60| married|   -444|admin.|        17|
| 59|  single|   -423|admin.|        18|
| 31|  single|   -422|admin.|        19|
| 48|divorced|   -407|admin.|        20|